<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            Vlab
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">

        <div class="popup" id="popup-1">
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">
                    ×</div>

                <h1>Sign in</h1>
                <div class="input-field"><input placeholder="Email" class="validate"></div>
                <div class="input-field"><input placeholder="Password" class="validate"></div>
                <button class="second-button">Sign in</button>
                <p>Don't have an account? <a href="/signup.html">Sign Up</a></p>


            </div>
        </div>
        <button onclick="togglePopup()" class="first-button">Sign In</button>
        <script>
            function togglePopup() {
                document.getElementById("popup-1")
                    .classList.toggle("active");
            }
        </script>
        <a href="/views/experiments" target="_blank">experiments</a>
        <a href="/views/howto" target="_blank">How to</a>
        <a href="/views/scoreList" target="_blank">best score</a>
        <a href="/" target="_blank">language</a>
    </div>
</div>